{% extends "base.html" %}

{% block title %}Dívidas{% endblock title %}

{% block content %}
    <h1>Dívidas</h1>

    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos architecto debitis, eius est
        velit blanditiis at totam beatae, delectus quibusdam aliquam perferendis vel qui,
        consectetur ipsam id aut quam. Incidunt.
    </p>

    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos architecto debitis, eius est
        velit blanditiis at totam beatae, delectus quibusdam aliquam perferendis vel qui,
        consectetur ipsam id aut quam. Incidunt.
    </p>
{% endblock content %}
