.bg-primary {
    background-color: var(--primary) !important;
}

.btn {
    border: 1px solid var(--black) !important;
    opacity: 0.9;
    transition: all 0.3s;
}

.btn:hover {
    opacity: 1;
}

.btn-primary {
    background-color: var(--primary) !important;
    color: var(--white);
}

.btn-sm {
    font-size: 0.875rem !important;
    padding: 0.25rem 0.5rem !important;
}

.buttons-excel, .buttons-pdf {
    background-color: var(--white) !important;
    border: 1px solid var(--primary) !important;
    color: var(--primary) !important;
}

.buttons-excel:hover, .buttons-pdf:hover {
    background-color: var(--primary) !important;
    color: var(--white) !important;
}

.dt-length {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.error-msg {
    color: rgb(255, 100, 100);
    font-size: 0.875rem;
}

.form-select:focus {
    border-color: var(--primary) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.bi-list {
    color: var(--primary);
}

.bi-person-circle {
    color: var(--white);
}

.form-control {
    background-color: var(--white);
    border-radius: 0.5rem;
}

.form-control:focus {
    border-color: var(--primary) !important;
    box-shadow: none !important;
}

/*
    Botões de Paginação da DataTable.
*/
.active > .page-link {
    color: var(--white) !important;
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.disabled > .page-link {
    color: var(--black) !important;
}

.page-link {
    color: var(--primary) !important;
}
