:root {
    --black: #000;
    --green: green;
    --light: #f8f8f8;
    --primary: #005b2f;
    --red: #c20000;
    --white: #fff;
    --cream: #FFEEC0;
}

:focus {
    box-shadow: 0 0 5px var(--primary) !important;
}

::selection {
    background-color: var(--primary);
    color: var(--white);
}

::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 10px;
    border: 3px solid #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--light);
    color: var(--black);
    display: flex;
    flex-flow: column;
    max-height: 100vh !important;
    min-height: 100vh !important;
    overflow: hidden;
}

h1,
h2,
h3,
h4 {
    color: var(--primary);
}

a {
    text-decoration: none;
    color: var(--primary);
}

i {
    font-size: 1.25rem;
}

table {
    font-size: 0.875rem !important;
}

ul li {
    list-style: None;
}

input[type="checkbox"] {
    appearance: none;
    border: 2px solid var(--primary);
    border-radius: 0.25rem;
    cursor: pointer;
    height: 20px;
    transition: all 0.3s;
    width: 20px;
}

input[type="checkbox"]:checked {
    background-color: var(--primary);
    border-color: var(--primary);
}
