.header {
    box-shadow: 0 0 5px #000;
    z-index: 1;
}

.page {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.main {
    margin: 0 auto;
    width: 100%;
    padding: 1rem 3rem 4rem;
    overflow-y: auto;
}

.navbar {
    width: 50px;
    transition: all 0.3s;
    overflow: hidden;
}
.navbar:hover {
    width: 200px;
}

.navbar.navbar-active {
    width: 200px;
}

.navbar ul li a {
    display: flex;
    padding: 1rem;
    flex: 1;
    gap: 0.875rem;
    align-items: center;
    transition: all 0.1s;
    opacity: 0.9;
}

.navbar:hover ul li a {
    padding: 0.25rem;
}

.navbar.navbar-active ul li a {
    padding: 0.25rem;
}

.navbar ul li a:hover {
    opacity: 1;
    background-color: rgb(0, 130, 67);
}

.navbar ul li a {
    color: var(--white) !important;
    font-size: 0.875rem;
}

.navbar ul li a i {
    color: var(--white);
}

.auth-form {
    width: 500px;
}

.btn-action {
    opacity: 0.9;
    transition: all 0.3s;
}

.btn-action:hover {
    opacity: 1;
    box-shadow: 0 0 5px var(--primary);
}
