{% extends 'base-authentication.html' %}

{% block title %}Entrar{% endblock title %}

{% block content %}
    <h1 class="mb-3">Entrar</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="Alerta">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'authentication:login' %}" method="post" class="d-flex flex-column">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.email.label_tag }}
            {{ form.email }}
            {% for error in form.email.errors %}
                <span class="error-msg">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.password.label_tag }}
            {{ form.password }}
            {% for error in form.password.errors %}
                <span class="error-msg">{{ error }}</span>
            {% endfor %}
        </div>
        <button class="btn btn-primary" type="submit">Entrar</button>

        <div class="mt-2 text-center">
            <span>Não tenho uma conta.</span>
            <a href="{% url "authentication:signup" %}">
                <strong>Criar conta</strong>
            </a>
        </div>
    </form>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
