{% extends "base.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/datatables-2.2.2.min.css' %}">
{% endblock styles %}

{% block title %}Dívidas{% endblock title %}

{% block content %}
    <h1>Dívidas</h1>
    <hr>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message|safe }}</div>
        {% endfor %}
    {% endif %}

    <table class="mb-2 shadow table table-bordered w-100" id="debts">
        <thead>
            <tr>
                <th class="align-middle text-center" data-orderable="false">Ver</th>
                <th class="align-middle">ID</th>
                <th class="align-middle">Descrição</th>
                <th class="align-middle">Categoria</th>
                <th class="align-middle installments-col text-end">
                    <div class="d-flex flex-column text-center">
                        <small class="border-bottom">Parcelas</small>
                        <span>Pagas/Total</span>
                    </div>
                </th>
                <th class="align-middle">Valor da Parcela</th>
                <th class="align-middle">Valor Restante</th>
                <th class="align-middle">Valor da Dívida</th>
                <th class="align-middle">Status</th>
                <th class="align-middle">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for debt in debts %}
                <tr>
                    <td class="text-center" data-order="false">
                        <button
                            class="btn-action bg-transparent rounded text-primary"
                            data-bs-target="#debt-detail-modal"
                            data-bs-toggle="modal"
                            data-debt-amount="{{ debt.amount }}"
                            data-debt-amount-paid="{{ debt.amount_paid }}"
                            data-debt-remaining-amount="{{ debt.remaining_amount }}"
                            data-debt-category="{{ debt.category_name }}"
                            data-debt-description="{{ debt.description }}"
                            data-debt-financier="{{ debt.financier }}"
                            data-debt-id="{{ debt.id }}"
                            data-debt-installment-amount="{{ debt.installment_amount }}"
                            data-debt-installments-paid="{{ debt.installments_paid }}"
                            data-debt-installments="{{ debt.installments }}"
                            data-debt-status="{{ debt.status }}"
                            title="Detalhes"
                            type="button"
                        >
                            <i class="bi bi-eye"></i>
                        </button>
                    </td>
                    <td>{{ debt.id }}</td>
                    <td class="debt-description-col">{{ debt.description }}</td>
                    <td>{{ debt.category_name }}</td>
                    <td class="text-end" data-order="{{ debt.installments }}">
                        {{ debt.installments_paid }}/{{ debt.installments }}
                    </td>
                    <td>{{ debt.installment_amount }}</td>
                    <td>{{ debt.remaining_amount }}</td>
                    <td>{{ debt.amount }}</td>
                    <td>{{ debt.status }}</td>
                    <td class="d-flex gap-2">
                        <a
                            class="bg-primary btn-action rounded text-center text-white w-100"
                            href="{% url 'debts:edit' debt.pk %}"
                            role="button"
                            title="Editar"
                        >
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <button
                            class="bg-danger border-0 btn-action rounded text-center text-white w-100"
                            data-bs-target="#delete-debt-modal"
                            data-bs-toggle="modal"
                            data-debt-id="{{ debt.pk }}"
                            title="Deletar"
                            type="button"
                        >
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="debt-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="bg-light modal-header">
                    <h1 class="modal-title fs-5">Nova Dívida</h1>
                    <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="bg-light modal-body">
                        <div class="mb-2">
                            {{ form.description.label_tag }}
                            {{ form.description }}
                            {% for error in form.description.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                        <div class="mb-2">
                            {{ form.amount.label_tag }}
                            {{ form.amount }}
                            {% for error in form.amount.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                        <div class="mb-2">
                            {{ form.category.label_tag }}
                            {{ form.category }}
                            {% for error in form.category.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                        <div class="mb-2">
                            {{ form.financier.label_tag }}
                            {{ form.financier }}
                            {% for error in form.financier.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                        <div class="mb-2">
                            {{ form.installments.label_tag }}
                            {{ form.installments }}
                            {% for error in form.installments.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                        <div class="mb-2">
                            {{ form.installments_paid.label_tag }}
                            {{ form.installments_paid }}
                            {% for error in form.installments_paid.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="bg-light modal-footer">
                        <button class="btn btn-action btn-secondary" data-bs-dismiss="modal" type="button">
                            Cancelar
                        </button>
                        <button class="btn btn-action btn-primary" type="submit">
                            Concluir
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="debt-detail-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="bg-light modal-header">
                    <h1 class="modal-title fs-5">Detalhes da Dívida</h1>
                    <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="bg-light modal-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button
                                aria-controls="debt-chart-tab"
                                aria-selected="true"
                                class="nav-link active"
                                data-bs-target="#debt-chart-tab"
                                data-bs-toggle="tab"
                                role="tab"
                                type="button"
                            >
                                Gráfico
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button
                                aria-controls="debt-details-tab"
                                aria-selected="false"
                                class="nav-link"
                                data-bs-target="#debt-details-tab"
                                data-bs-toggle="tab"
                                role="tab"
                                type="button"
                            >
                                Detalhes
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="debt-chart-tab" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                            <div class="p-3">
                                <canvas id="debt-chart"></canvas>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="debt-details-tab" role="tabpanel" aria-labelledby="debt-details-tab" tabindex="0">
                            <div class="border-bottom d-flex gap-3 justify-content-between m-2">
                                ID: <span id="debt-id"></span>
                            </div>
                            <div class="border-bottom d-flex gap-3 justify-content-between m-2">
                                Descrição: <span class="overflow-auto text-wrap" id="debt-description"></span>
                            </div>
                            <div class="border-bottom d-flex gap-3 justify-content-between m-2">
                                Categoria: <span id="debt-category"></span>
                            </div>
                            <div class="border-bottom d-flex gap-3 justify-content-between m-2">
                                Financiador: <span id="debt-financier"></span>
                            </div>
                            <div class="border-bottom d-flex gap-3 justify-content-between m-2">
                                Parcelas - Pagas/Total: <span id="debt-installments"></span>
                            </div>
                            <div class="border-bottom d-flex gap-3 justify-content-between m-2">
                                Valor da Parcela: <span id="debt-installment-amount"></span>
                            </div>
                            <div class="border-bottom d-flex gap-3 justify-content-between m-2">
                                Valor da Dívida: <span id="debt-amount"></span>
                            </div>
                            <div class="border-bottom d-flex gap-3 justify-content-between m-2">
                                Valor Pago: <span id="debt-amount-paid"></span>
                            </div>
                            <div class="border-bottom d-flex gap-3 justify-content-between m-2">
                                Valor Restante: <span id="debt-remaining-amount"></span>
                            </div>
                            <div class="border-bottom d-flex gap-3 justify-content-between m-2">
                                Status: <span id="debt-status"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-light border-0 modal-footer"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-debt-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Confirmar Exclusão</h1>
                    <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja deletar essa dívida?</p>
                </div>
                <div class="modal-footer">
                    <button
                        class="btn btn-action btn-secondary"
                        data-bs-dismiss="modal"
                        type="button"
                    >
                        Cancelar
                    </button>
                    <form action="{% url 'debts:delete' 0 %}" id="delete-form" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-action btn-danger" type="submit">
                            Deletar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'plugins/chart/chart-4.4.1.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/datatables-2.2.2.min.js' %}"></script>
    <script src="{% static 'js/chart-configs.js' %}"></script>
    <script src="{% static 'js/datatables-configs.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
{% endblock scripts %}

{% block scripts_inline %}
    <script>
        const languageDataTableURL = '{% static "plugins/datatables/pt-BR.json" %}';

        const $debtChart = $('#debt-chart');

        const columnsToExport = ':not(:first-child):not(:last-child)';

        {% if form.errors %}
            const modal = new bootstrap.Modal($('#debt-modal'));
            modal.show();
        {% endif %}

        $('#debts').DataTable({
            autoWidth: false,
            buttons: [
                {
                    attr: {
                        'data-bs-toggle': 'modal',
                        'data-bs-target': '#debt-modal',
                    },
                    className: 'border border-primary bg-primary btn-action btn-sm',
                    text: 'Nova Dívida',
                },
                {
                    className: 'border border-primary btn-action btn-outline-primary btn-sm',
                    exportOptions: {
                        columns: columnsToExport,
                    },
                    extend: 'excel',
                    text: 'Exportar XLSX',
                },
                {
                    className: 'border border-primary btn-action btn-outline-primary btn-sm',
                    exportOptions: {
                        columns: columnsToExport,
                    },
                    extend: 'pdf',
                    text: 'Exportar PDF',
                },
            ],
            columnDefs: [
                {
                    render: (data, _type, _row, _meta) => {
                        return formatCurrencyToBRL(data);
                    },
                    targets: [5, 6, 7],
                },
            ],
            language: {
                url: languageDataTableURL,
            },
            layout: dataTableLayout,
            order: [[1, 'desc']],
            responsive: true,
        });

        const createDebtChart = (remainingAmount, paidAmount) => {
            return new Chart($debtChart, {
                data: {
                    datasets: [{
                        backgroundColor: [greenBackground, yellowBackground],
                        data: [remainingAmount, paidAmount],
                        hoverOffset: 4,
                        label: 'R$',
                    }],
                    labels: ['Valor Pago', 'Valor Restante'],
                },
                options: {
                    plugins: {
                        legend: { position: 'top' },
                        title: { display: true, text: 'Gráfico da Dívida' },
                    },
                },
                type: 'doughnut',
            });
        };

        let debtChart;

        $('#debt-detail-modal').on('show.bs.modal', (event) => {
            const detailButton = $(event.relatedTarget);

            const debtAmount = detailButton.data('debt-amount');
            const debtAmountPaid = detailButton.data('debt-amount-paid');
            const debtCategory = detailButton.data('debt-category');
            const debtDescription = detailButton.data('debt-description');
            const debtFinancier = detailButton.data('debt-financier');
            const debtId = detailButton.data('debt-id');
            const debtInstallmentAmount = detailButton.data('debt-installment-amount');
            const debtInstallments = detailButton.data('debt-installments');
            const debtInstallmentsPaid = detailButton.data('debt-installments-paid');
            const debtRemainingAmount = detailButton.data('debt-remaining-amount');
            const debtStatus = detailButton.data('debt-status');

            $('#debt-amount').text(formatCurrencyToBRL(debtAmount));
            $('#debt-amount-paid').text(formatCurrencyToBRL(debtAmountPaid));
            $('#debt-category').text(debtCategory);
            $('#debt-description').text(debtDescription);
            $('#debt-financier').text(debtFinancier ? debtFinancier : '-');
            $('#debt-id').text(debtId);
            $('#debt-installment-amount').text(formatCurrencyToBRL(debtInstallmentAmount));
            $('#debt-installments').text(`${debtInstallmentsPaid}/${debtInstallments}`);
            $('#debt-remaining-amount').text(formatCurrencyToBRL(debtRemainingAmount));
            $('#debt-status').text(debtStatus);

            if (debtChart) debtChart.destroy();

            const normalizedDebtAmountPaid = parseFloat(debtAmountPaid.replace(',', '.'));
            const normalizedDebtRemainingAmount = parseFloat(debtRemainingAmount.replace(',', '.'));

            debtChart = createDebtChart(
                normalizedDebtAmountPaid,
                normalizedDebtRemainingAmount,
            );
        });

        $('#delete-debt-modal').on('show.bs.modal', (event) => {
            const $deleteForm = $('#delete-form');

            const currentDebtId = $deleteForm.attr('action').split('/')[2];

            const newDebtId = $(event.relatedTarget).data('debt-id');

            const newFormActionPath = $deleteForm.attr('action').replace(
                currentDebtId, newDebtId
            );

            $deleteForm.attr('action', newFormActionPath);
        });
    </script>
{% endblock scripts_inline %}
