<header class="bg-white header d-flex justify-content-between px-3 py-2">
    <div class="d-flex align-items-center gap-2">
        <i class="bi bi-list" role="button"></i>
        <h3 class="mb-0"><a href="{% url "dashboard:dashboard" %}">Meu Dinheiro</a></h3>
    </div>
    <div class="bg-primary d-flex align-items-center gap-2 rounded px-2">
        <i class="bi bi-person-circle"></i>
        <span class="mb-0 text-white">
            {% with name=request.user.full_name %}
                {% if name %}
                    {{ name }}
                {% else %}
                    Usuário
                {% endif %}
            {% endwith %}
        </span>
    </div>
</header>
