<nav class="bg-primary navbar navbar-nav">
    <ul class="m-0 p-0">
        <li class="mb-1">
            <a class="menu-link text-nowrap" href="{% url "dashboard:dashboard" %}">
                <i class="bi bi-house-door"></i>
                Painel Financeiro
            </a>
        </li>
        <li class="mb-1">
            <a class="menu-link" href="{% url "transactions:transactions" %}">
                <i class="bi bi-currency-dollar"></i>
                Transações
            </a>
        </li>
        <li class="mb-1">
            <a class="menu-link" href="{% url "debts:debts" %}">
                <i class="bi bi-database-down"></i>
                Dívidas
            </a>
        </li>
        <li class="mb-1">
            <a class="menu-link" href="#">
                <i class="bi bi-question-circle"></i>
                Suporte
            </a>
        </li>
        <li class="mb-1">
            <a class="menu-link" href="#">
                <i class="bi bi-info-circle"></i>
                Sobre
            </a>
        </li>
    </ul>
</nav>
