{% extends "base.html" %}

{% block title %}Página Inicial{% endblock title %}

{% block content %}
    <h1>Página Inicial</h1>

    <p class="text-align-center">Bem vindo, {{ user }}!</p>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Sed amet libero perspiciatis doloribus, et iste non.
        Repellat, aperiam libero ipsum, natus atque eligendi numquam,
        consectetur odio et nostrum sequi deleniti.
    </p>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
