{% extends "base.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker-1.10.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables/datatables-2.2.2.min.css' %}">
{% endblock styles %}

{% block title %}Transações{% endblock title %}

{% block content %}
    <h1>Transações</h1>
    <hr>

    <div class="mb-4">
        <form class="align-items-center d-flex gap-2" id="period-form" method="GET">
            <label for="period">Filtrar por período:</label>
            <input
                class="btn datepicker"
                id="period"
                name="period"
                type="text"
                value="{{ period }}"
            >
            <button class="btn btn-primary" type="submit">Filtrar</button>
        </form>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message|safe }}</div>
        {% endfor %}
    {% endif %}

    <table class="mb-2 shadow table table-bordered" id="transactions">
        <thead>
            <tr>
                <th>Ver</th>
                <th>ID</th>
                <th>Valor</th>
                <th>Tipo</th>
                <th>Categoria</th>
                <th>Destino</th>
                <th>Data</th>
                <th>Pago?</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div class="modal fade" id="transactionModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="bg-light modal-header">
                    <h1 class="modal-title fs-5">Nova Transação</h1>
                    <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <form action="{% url "transactions:register" %}" method="POST">
                    {% csrf_token %}
                    <div class="bg-light modal-body">
                        <div>
                            {{ form.amount.label_tag }}
                            {{ form.amount }}
                            {{ form.amount.errors }}
                        </div>
                        <div class="d-flex gap-2">
                            <div class="w-100">
                                {{ form.category.label_tag }}
                                {{ form.category }}
                                {{ form.category.errors }}
                            </div>
                            <div class="w-100">
                                {{ form.transaction_type.label_tag }}
                                {{ form.transaction_type }}
                                {{ form.transaction_type.errors }}
                            </div>
                        </div>
                        <div>
                            {{ form.date.label_tag }}
                            {{ form.date }}
                            {{ form.date.errors }}
                        </div>
                        <div>
                            {{ form.destination.label_tag }}
                            {{ form.destination }}
                            {{ form.destination.errors }}
                        </div>
                        <div>
                            {{ form.description.label_tag }}
                            {{ form.description }}
                            {{ form.description.errors }}
                        </div>
                        <div>
                            {{ form.is_paid.label_tag }}
                            {{ form.is_paid }}
                            {{ form.is_paid.errors }}
                        </div>
                    </div>
                    <div class="bg-light modal-footer">
                        <button class="btn btn-action btn-secondary" data-bs-dismiss="modal" type="button">
                            Cancelar
                        </button>
                        <button class="btn btn-action btn-primary" type="submit">
                            Concluir
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="transactionDetailModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="bg-light modal-header">
                    <h1 class="modal-title fs-5">Detalhes da Transação</h1>
                    <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="bg-light modal-body">
                    <div class="border-bottom d-flex gap-3 justify-content-between m-2">
                        ID: <span id="transactionId"></span>
                    </div>
                    <div class="border-bottom d-flex gap-3 justify-content-between m-2">
                        Valor: <span id="transactionAmount"></span>
                    </div>
                    <div class="border-bottom d-flex gap-3 justify-content-between m-2">
                        Categoria: <span id="transactionCategory"></span>
                    </div>
                    <div class="border-bottom d-flex gap-3 justify-content-between m-2">
                        Tipo: <span id="transactionType"></span>
                    </div>
                    <div class="border-bottom d-flex gap-3 justify-content-between m-2">
                        Destino: <span id="transactionDestination"></span>
                    </div>
                    <div class="border-bottom d-flex pb-2 gap-3 justify-content-between m-2">
                        Descrição:
                        <span
                            class="bg-white overflow-auto p-2 rounded"
                            id="transactionDescription"
                        ></span>
                    </div>
                    <div class="border-bottom d-flex gap-3 justify-content-between m-2">
                        Data: <span id="transactionDate"></span>
                    </div>
                    <div class="border-bottom d-flex gap-3 justify-content-between m-2">
                        Pago?: <span id="transactionIsPaid"></span>
                    </div>
                </div>
                <div class="bg-light border-0 modal-footer"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTransactionModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="bg-light modal-header">
                    <h1 class="modal-title fs-5">Confirmar Exclusão</h1>
                    <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="bg-light modal-body">
                    <p>Tem certeza que deseja deletar essa transação?</p>
                </div>
                <div class="bg-light modal-footer">
                    <button class="btn btn-action btn-secondary" data-bs-dismiss="modal" type="button">
                        Cancelar
                    </button>
                    <form action="{% url "transactions:delete" 0 %}" id="deleteForm" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-action btn-danger" type="submit">
                            Deletar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker-1.10.0.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.pt-BR.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/datatables-2.2.2.min.js' %}"></script>
    <script src="{% static 'plugins/dayjs/dayjs-1.11.13.min.js' %}"></script>
    <script src="{% static 'js/datatables-configs.js' %}"></script>
    <script src="{% static 'js/datepicker-configs.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
{% endblock scripts %}

{% block scripts_inline %}
    <script>
        const languageDataTableURL = '{% static "plugins/datatables/pt-BR.json" %}';
        const transactionsAjaxURL = '{% url "transactions:transactions_ajax" "_PERIOD_" %}';

        const transactionCategories = JSON.parse('{{ CATEGORIES|safe }}');

        const $transactionsTable = $('#transactions');

        const $datepickerForm = $('#{{ form.date.id_for_label }}');
        const $deleteForm = $('#deleteForm');

        const $deleteTransactionModal = $('#deleteTransactionModal');
        const $transactionDetailModal = $('#transactionDetailModal');

        const $period = $('#period');

        const columnsToExport = ':not(:first-child):not(:last-child)';

        let currentPeriod = $period.val();

        {% if form.errors %}
            {% comment %}
                The correct way to open a modal with Bootstrap 5.
            {% endcomment %}
            const modal = new bootstrap.Modal($('#transactionModal'));
            modal.show();
        {% endif %}

        $datepickerForm.datepicker(datepickerByDay);

        $('.datepicker').datepicker(datepickerByPeriod);

        const generateTransactionsTable = (transactions) => {
            $transactionsTable.DataTable({
                buttons: [
                    {
                        attr: {
                            'data-bs-toggle': 'modal',
                            'data-bs-target': `#transactionModal`,
                            id: 'newTransactionModalButton',
                        },
                        className: 'border border-primary bg-primary btn-action btn-sm',
                        text: 'Nova Transação',
                    },
                    {
                        className: 'border border-primary btn-action btn-outline-primary btn-sm',
                        exportOptions: {
                            columns: columnsToExport,
                        },
                        extend: 'excel',
                        text: 'Exportar XLSX',
                    },
                    {
                        className: 'border border-primary btn-action btn-outline-primary btn-sm',
                        exportOptions: {
                            columns: columnsToExport,
                        },
                        extend: 'pdf',
                        text: 'Exportar PDF',
                    },
                ],
                columns: [
                    {
                        className: 'text-center',
                        data: null,
                        orderable: false,
                        render: (data, _type, _row) => {
                            return `
                                <button
                                    class="btn-action bg-transparent rounded text-primary"
                                    data-bs-target="#transactionDetailModal"
                                    data-bs-toggle="modal"
                                    data-transaction-id="${data.id}"
                                    data-transaction-amount="${data.amount}"
                                    data-transaction-type="${data.transaction_type === {{ Transaction.EXPENSE }} ? 'Saída' : 'Entrada'}"
                                    data-transaction-category="${transactionCategories[data.category]}"
                                    data-transaction-destination="${data.destination || '-'}"
                                    data-transaction-description="${data.description || '-'}"
                                    data-transaction-date="${data.date || '-'}"
                                    data-transaction-is-paid="${data.is_paid ? 'Sim' : 'Não'}"
                                    title="Detalhes"
                                    type="button"
                                >
                                    <i class="bi bi-eye"></i>
                                </button>
                            `;
                        },
                    },
                    {
                        data: 'id',
                        render: (data, _type, _row) => data,
                    },
                    {
                        data: 'amount',
                        render: (data, _type, _row) => formatCurrencyToBRL(data),
                    },
                    {
                        data: 'transaction_type',
                        render: (data, _type, _row) => {
                            return data === {{ Transaction.EXPENSE }} ? 'Saída' : 'Entrada';
                        },
                    },
                    {
                        data: 'category',
                        render: (data, _type, _row) => transactionCategories[data],
                    },
                    {
                        data: 'destination',
                        render: (data, _type, _row) => data,
                    },
                    {
                        className: 'text-end',
                        data: 'date',
                        render: (data, _type, _row) => formatDateToDMY(data),
                    },
                    {
                        data: 'is_paid',
                        render: (data, _type, _row) => data ? 'Sim' : 'Não',
                    },
                    {
                        data: null,
                        orderable: false,
                        render: (_data, _type, row) => {
                            const url = '{% url "transactions:edit" 0 %}'.replace('0', row.id);

                            return `
                                <div class="d-flex gap-2">
                                    <a
                                        class="bg-primary btn-action rounded text-center text-white w-100"
                                        href="${url}"
                                        role="button"
                                        title="Editar"
                                    >
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <button
                                        class="bg-danger border-0 btn-action rounded text-center text-white w-100"
                                        data-bs-target="#deleteTransactionModal"
                                        data-bs-toggle="modal"
                                        data-transaction-id="${row.id}"
                                        title="Deletar"
                                        type="button"
                                    >
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            `;
                        },
                    },
                ],
                data: transactions,
                language: {
                    url: languageDataTableURL,
                },
                layout: dataTableLayout,
                order: [[1, 'desc']],
                responsive: true,
            });
        };

        const getTransactions = async () => {
            const response = await fetch(transactionsAjaxURL.replace('_PERIOD_', currentPeriod));

            if (response.status !== 200) {
                throw new Error(`Erro ao carregar Transações - Status ${response.status}`);
            }

            const data = await response.json();

            const transactions = data.data;

            return transactions;
        };

        async function getTransactionsAndGenerateDataTable () {
            const transactions = await getTransactions();

            generateTransactionsTable(transactions);
        }

        getTransactionsAndGenerateDataTable();

        $('#period-form').on('submit', (event) => {
            event.preventDefault();

            const newPeriod = $period.val();

            if (currentPeriod === newPeriod) return;

            currentPeriod = newPeriod;

            $transactionsTable.DataTable().clear().destroy();

            getTransactionsAndGenerateDataTable();
        });

        $deleteTransactionModal.on('show.bs.modal', (event) => {
            {% comment %}
                event.relatedTarget - Reference to the object that open the modal (Bootstrap 5).
            {% endcomment %}
            const button = $(event.relatedTarget);

            const currentTransactionId = $deleteForm.attr('action').split('/')[2];

            const newTransactionId = button.data('transaction-id');

            const newFormActionPath = $deleteForm.attr('action').replace(
                currentTransactionId, newTransactionId
            );

            $deleteForm.attr('action', newFormActionPath);
        });

        $transactionDetailModal.on('show.bs.modal', (event) => {
            const button = $(event.relatedTarget);

            const transactionAmount = formatCurrencyToBRL(button.data('transaction-amount'));
            const transactionCategory = button.data('transaction-category');
            const transactionDate = formatDateToDMY(button.data('transaction-date'));
            const transactionDescription = button.data('transaction-description');
            const transactionDestination = button.data('transaction-destination');
            const transactionId = button.data('transaction-id');
            const transactionIsPaid = button.data('transaction-is-paid');
            const transactionType = button.data('transaction-type');

            $('#transactionAmount').text(transactionAmount);
            $('#transactionCategory').text(transactionCategory);
            $('#transactionDate').text(transactionDate);
            $('#transactionDescription').text(transactionDescription);
            $('#transactionDestination').text(transactionDestination);
            $('#transactionId').text(transactionId);
            $('#transactionIsPaid').text(transactionIsPaid);
            $('#transactionType').text(transactionType);
        });
    </script>
{% endblock scripts_inline %}
