{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "plugins/datatables/datatables.min.css" %}">
{% endblock styles %}

{% block title %}Transações{% endblock title %}

{% block content %}
    <h1>Transações</h1>
    <hr>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message|safe }}</div>
        {% endfor %}
    {% endif %}

    <table class="shadow table table-bordered" id="transactions">
        <thead>
            <tr>
                <th class="text-center" data-orderable="false">Ver</th>
                <th>ID</th>
                <th>Valor</th>
                <th>Tipo</th>
                <th>Categoria</th>
                <th>Destino</th>
                <th class="text-end">Data</th>
                <th>Pago?</th>
                <th data-orderable="false">Ações</th>
            </tr>
        </thead>

        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td class="text-center">
                        <button id="button"
                            class="btn-action bg-transparent rounded text-primary"
                            data-bs-target="#transactionDetailModal"
                            data-bs-toggle="modal"
                            data-transaction-id="{{ transaction.pk }}"
                            data-transaction-amount="{{ transaction.amount }}"
                            data-transaction-type="{{ transaction.transaction_type_name }}"
                            data-transaction-category="{{ transaction.category_name }}"
                            data-transaction-destination="{{ transaction.destination|default:'-' }}"
                            data-transaction-description="{{ transaction.description|default:'-' }}"
                            data-transaction-date="{{ transaction.date|date:'d/m/Y'|default:'-' }}"
                            data-transaction-is-paid="{{ transaction.is_paid|yesno:'Sim,Não' }}"
                            title="Detalhes"
                            type="button"
                        >
                            <i class="bi bi-eye"></i>
                        </button>
                    </td>
                    <td>{{ transaction.pk }}</td>
                    <td>R$ {{ transaction.amount }}</td>
                    <td>{{ transaction.transaction_type_name }}</td>
                    <td>{{ transaction.category_name }}</td>
                    <td>{{ transaction.destination|default:'-' }}</td>
                    <td class="text-end" data-order="{{ transaction.date|date:'Y-m-d' }}">
                        {{ transaction.date|date:'d/m/Y'|default:'-' }}
                    </td>
                    <td>
                        {{ transaction.is_paid|yesno:'Sim,Não' }}
                    </td>
                    <td class="d-flex gap-2">
                        <a
                            class="bg-primary btn-action rounded text-center text-white w-100"
                            href="{% url "transactions:edit" transaction.pk %}"
                            role="button"
                            title="Editar"
                        >
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <button
                            class="bg-danger border-0 btn-action rounded text-center text-white w-100"
                            data-bs-target="#deleteTransactionModal"
                            data-bs-toggle="modal"
                            data-transaction-pk="{{ transaction.pk }}"
                            title="Deletar"
                            type="button"
                        >
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block scripts %}
    <script src="{% static "plugins/datatables/datatables.min.js" %}"></script>
    <script src="{% static "js/datatables-configs.js" %}"></script>
{% endblock scripts %}

{% block scripts_inline %}
    <script>
        const languageDataTableURL = '{% static "plugins/datatables/pt-BR.json" %}';

        const columnsToExport = ':not(:first-child):not(:last-child)';

        $('#transactions').DataTable({
            buttons: [
                {
                    className: 'btn-action btn-sm bg-primary',
                    text: 'Nova Transação',
                },
                {
                    className: 'btn-action btn-sm',
                    exportOptions: {
                        columns: columnsToExport,
                    },
                    extend: 'excel',
                    text: 'Exportar XLSX',
                },
                {
                    className: 'btn-action btn-sm',
                    exportOptions: {
                        columns: columnsToExport,
                    },
                    extend: 'pdf',
                    text: 'Exportar PDF',
                },
            ],
            language: {
                url: languageDataTableURL,
            },
            layout: dataTableLayout,
            order: [[1, 'desc']],
            responsive: true,
        });
    </script>
{% endblock scripts_inline %}
